[Unit]
Description=Verdaccio lightweight npm proxy registry

[Service]
Type=simple
Restart=on-failure
User={{ verdaccio_user }}
ExecStart=/usr/bin/verdaccio --config {{ verdaccio_config_path }}

[Install]
WantedBy=multi-user.target
